<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit <%= bear.name %></title>
</head>
<body>
    <h1>Edit <%= bear.name %></h1>
    <form action="/bears/<%= bear._id %>" method="POST">
        <p>Name: <input type="text" name="name" value="<%= bear.name %>"></p>
        <p><input type="submit" value="Update"></p>
    </form>
    <p><a href="/bears/<%= bear._id %>">Back</a> | <a href="/">Home</a></p>
</body>
</html>